.header {
  background: #F3F7FF;
}

.header__container {
  max-width: 1200px;
  padding: 10px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 24px;
}

.header__logo span {
  color: #2d89ef;
}